*.DS_Store
.idea/
.venv/
venv
.vscode/
.env

.Python
.secrets.toml
.python-version

**/__pycache__
testing.db
*celerybeat-schedule
serviceAccountKey.json
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
